@model BookCave.Models.ViewModels.DisplayCartViewModel

<h1>Cart</h1>
<table class="table table-striped">
  <thead>
        <tr>
            <th scope="col">BookName</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Remove</th>
            <th scope="col">Cost</th>
        </tr>
      @foreach(var book in Model.booksList)
        {
        <tr>
            <td><a asp-controller="Book" asp-action="details" asp-route-id="@book.id"> @book.title</a></td>
            <td><input type="number" value="@book.quantity" id="cart-quantity"></td>
            <td>@book.cost</td>
            <td><button class="btn btn-danger remove-from-cart" value="@book.id" >X</button></td>
        </tr>
        }
  </tbody>
</table>
<h2 id="total-cost" class="text-right">@Model.totalCost $</h2>
<button type="submit" href="/account/checkout/" id="check-out-button" class="btn btn-primary">CheckOut</button>
<a href="">Clear cart!</a>