@model BookCave.Models.ViewModels.DisplayCartViewModel
<!DOCTYPE html>
<html>
  <body>
<div class="container">
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
  <h1 class="content-styling-h">Cart</h1>
  <hr />
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
<table class="table table-striped" id="cart-table">
  <thead>
        <tr>
            <th scope="col">Product name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Remove</th>
            <th scope="col">Cost</th>
        </tr>
  </thead>
  <tbody>
      @foreach(var book in Model.booksList)
        {
        <tr>
            <td><a asp-controller="Book" asp-action="details" asp-route-id="@book.id"> @book.title</a></td>
            <td><input style="width:50px;" type="number" min="1" value="@book.quantity" class="cart-quantity"></td>
            <td>@book.cost</td>
            <td><button class="btn-delete btn-5 btn-5b fa fa-trash remove-from-cart" value="@book.id"><span>Delete</span></button></td>
            <td class="totalValue">@(book.cost * book.quantity)</td>
        </tr>
        }
        
  </tbody>
</table>
</div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12"> 
<h4 id="total-cost" class="text-right" value="@Model.totalCost">Total price: @Model.totalCost $</h4>
<a asp-controller="account" asp-action="checkout"><button type="submit" id="check-out-button" class="btn btn-success cart-buttons">Check out</button></a>
<button type="submit" id="clear-cart-button" class="cart-buttons">Clear cart!</button>
</div>
</div>
</div>
  </body>
</html>