@model BookCave.Models.ViewModels.CheckOutViewModel

<h1>CheckOut</h1>
<div class="row">
    <div class="col-sm-3">
        <h3>Shipping Information</h3>
        <p>Address: @Model.address</p>
        <p>City: @Model.city</p>
        <p>Country: @Model.country</p>
        <p>Zip: @Model.zip</p>
    </div>
    <div class="col-sm-3">
        <h3>Card Information</h3>
        <p>Cardholder name: @Model.cardHolderName</p>
        <p>Cardnumber: @Model.cardNumber</p>
    </div>
</div>
<div class="row">
    <p>shit</p>
</div>