@model List<BookCave.Models.ViewModels.BooksInOrderHistoryViewModel>
<div class="container">
    <div class="row">
        @foreach (var a in Model)
        {
            <div class="row">
                <div class="col-sm-8">
                    <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">BookName</th>
                        <th scope="col">Item Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var book in a.listOfBooks)
                        {                        
                            <tr>
                            <td>@book.BookName</td>
                            <td>@book.cost</td>
                            </tr>
                        }
                            <tr>
                                <td><strong>Total Cost</strong></td>
                                <td>@a.totalCost</td>
                            </tr>
                    </tbody>
                    </table>
                </div>
                <div class="col-sm-4">
                    <h3>Order shipped to:</h3>
                    <p>Address: @a.address</p>
                    <p>Country: @a.country</p>
                    <p>City: @a.city</p>
                    <p>Zip code: @a.zipCode</p>
                </div>
            </div>
        }

    </div>
</div>