@model List<BookCave.Models.ViewModels.BookListViewModel>

<div class="Container">
    <h2>VinsÊlustu bÊkurnar</h2>
    <div class="row">
        @for (var i = 0; i < 4; i++)
        {
            <div class="col-sm-3">
                <div class="card">
                <a asp-action="Details" asp-controller="Book" asp-route-Id="@Model[i].id"><img src="@Model[i].image" alt="bookCover" class="card-img-top Thumb-nail-image"></a>
                    <div class="card-body">
                        <a asp-controller="book" asp-action="details" asp-route-Id=@Model[i].id class="card-text">@Model[i].title</a> <br>
                         <medium>@Model[i].rating ★</medium> <br> 
                                <medium>@Model[i].cost $</medium> <br>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="col-sm-6">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <h2>”d˝rustu bÊkurnar</h2>
    <div class="row">
        @for (var i = 4; i < 8; i++)
        {   
            <div class="col-sm-3">
                <div class="card">
                <a asp-action="Details" asp-controller="Book" asp-route-Id="@Model[i].id"><img src="@Model[i].image" alt="bookCover" class="card-img-top Thumb-nail-image"></a>
                    <div class="card-body">
                        <a asp-controller="book" asp-action="details" asp-route-Id=@Model[i].id class="card-text">@Model[i].title</a> <br>
                         <medium>@Model[i].rating ★</medium> <br> 
                                <medium>@Model[i].cost $</medium> <br>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="col-sm-6">
                               
                            </div>
                        </div>
                    </div>
                </div>
</div>
}