@model BookCave.Models.ViewModels.BookDetailsViewModel

<div class="Container">
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <h1>@Model.name</h1>
            <p>@Model.author</p>
        </div>
        <div class="col-lg-2 col-md-2">
            <h2>@Model.ratings</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <img src= "@Model.image" alt="Book Cover">
        </div>
        <div class="col-lg-8">
            <p>@Model.description</p>
        </div> 
    </div>
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
            <a asp-controller="book" asp-action="review" asp-route-Id=@Model.id class="btn btn-primary center-block" >Skrifa ummæli</a>
            <br>
            <a  class="btn btn-warning center-block">Setja á óskalista</a>
            <h3>@Model.price Krónur</h3>
            <p class="btn btn-success center-block">Setja í körfu</p>
        </div>
</div>

