@model List<BookCave.Models.ViewModels.BookListViewModel>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-6">
            
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 sort-by-button">
            <form action="SortByGenre" method="GET">
                <select name="value" class="form-control top-right" id="selectBox1">
                    <option value="rating">Sort by Rating</option>
                    <option value="price">Sort by Price</option>
                    <option value="name"><a asp-action="TopTenBooks" asp-controller="Book" asp-route-value="name">Sort by Name</a></option>
                </select>
            </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            @foreach (var book in Model)
            {
                <div id="settings" class="col-lg-3 col-sm-6 col-md-4">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <a asp-controller="book" asp-action="details" asp-route-id="@book.id"><img class="Thumb-nail-image" src="@book.image" alt="book-cover" /></a>
                        </div>
                    </div>
                    <div class="row">
                        <div id="book-info" class="col-lg-12 col-sm-12">
                            <a asp-controller="book" asp-action="details" asp-route-Id="@book.id" class="card-text">@book.title</a>
                            <div class="divider"></div>
                            <a asp-action="details" asp-controller="author" asp-route-id="@book.author.Id"><p>@book.author.authorName</p></a>
                            @for (var i = 0; i < @book.rating - 1; i++)
                            {
                                <img src="~/Images/fullStar.png" alt="rating" class="starRatings">
                            }
                            @if (@book.rating % 2 != 0)
                            {
                                <img src="~/Images/halfStar.png" alt="rating" class="starRatings">
                            }
                            else
                            {
                                <img src="~/Images/fullStar.png" alt="rating" class="starRatings">
                            }
                            <p>Price: @book.cost $</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 img-thumbnail-btn">
                            <a class="btn btn-default center-block" href="#">Add to cart</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-4 spacing">

                        </div>
                    </div>
                </div>
            }
            <br />
        </div>
    </div>
