@model List<BookCave.Models.ViewModels.BookListViewModel>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-6">
            <h1>@ViewBag.searchedWord</h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 sort-by-button">
        </div>
    </div>
</div>
<div class="container-fluid">

    <div class="row ">
        @foreach (var book in Model)
        {
            <div id="settings" class="col-lg-3 col-sm-6 col-md-4">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <a asp-controller="book" asp-action="details" asp-route-id="@book.id"><img src="@book.image" alt="book-cover" class="Thumb-nail-image"></a>
                    </div>
                </div>
                <div class="row">
                    <div id="book-info" class="col-lg-12 col-sm-12">
                        <a asp-controller="book" asp-action="details" asp-route-Id="@book.id" class="card-text">@book.title</a>
                        <div class="divider"></div>
                       
                        @for(int i = 0; i < @book.rating-1; i++) {
                            <img src="~/Images/fullStar.png" alt="rating" style="width:20px; height:20px;">
                        }
                        @if(@book.rating % 2 != 0) {
                            <img src="~/Images/halfStar.png" alt="rating" class="starRatings">
                        } else {
                            <img src="~/Images/fullStar.png" alt="rating" class="starRatings">
                        }
                        <p>Price: @book.cost $</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 img-thumbnail-btn">
                        <a class="btn btn-default center-block" href="#">Add to cart</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-4 spacing">
                    </div>
                </div>
            </div>

        }
        <br />
    </div>
</div>