@model List<BookCave.Models.ViewModels.BookListViewModel>
<h1>@ViewBag.searchedWord</h1>
<div class="">
    <form action="SortByGenre" method="GET">
        <select name="value" class="form-control selectButton top-right" id="selectBox1">
            <option value="rating">Sort by Rating</option>
            <option value="price">Sort by Price</option>
            <option value="name"><a asp-action="TopTenBooks" asp-controller="Book" asp-route-value="name">Sort by Name</a></option>
        </select>
    </form>
</div>
<div class="container-fluid">
    <div class="row mainContent">
        @foreach (var book in Model)
        {
        <div class="col-sm-4 centered book-layout">
            <div class="col-sm-12 book-display-border">
                <img class="Thumb-nail-image" src="@book.image" alt="cover"> <br>
                <div class="col-sm-12 book-display-text">
                    <a asp-controller="book" asp-action="details" asp-route-Id=@book.id class="card-text">@book.title</a>  <br>
                    <div class="divider"></div>
                    Rating: @book.rating <br>
                    <div class="divider"></div>
                    Cost: @book.cost Kr.
                </div>
            </div>
        </div>
        }
  </div>
</div>
