@model List<BookCave.Models.ViewModels.BookListViewModel>
<h1>@ViewBag.genre</h1>
<div class="">
    <form action="SortByGenre" method="GET">
        <select name="value" class="form-control selectButton top-right" id="selectBox1">
            <option value="rating">Sort by Rating</option>
            <option value="price">Sort by Price</option>
            <option value="name"><a asp-action="TopTenBooks" asp-controller="Book" asp-route-value="name">Sort by Name</a></option>
        </select>
    </form>
</div>
<div class="container-fluid">

    <div class="row ">
        @foreach (var book in Model)
    {
            <div id="settings" class="col-lg-3 col-sm-6 col-md-4">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <img class="Thumb-nail-image" src="@book.image" alt="book-cover" />
                    </div>
                </div>
                <div class="row">
                    <div id="book-info" class="col-lg-12 col-sm-12">
                        <a asp-controller="book" asp-action="details" asp-route-Id="@book.id" class="card-text">@book.title</a>
                        <div class="divider"></div>
                        <p>Author: @book.author</p>
                        <p>Rating: @book.rating</p>
                        <p>Price: @book.cost $</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 img-thumbnail-btn">
                        <a class="btn btn-success center-block" href="#">Add to cart</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-4 spacing">

                    </div>
                </div>
            </div>

}
        <br />
    </div>
    </div>