@model List<BookCave.Models.ViewModels.BookListViewModel>
<h1>Top books</h1>
<div class="">
    <form action="TopTenBooks" method="GET">
        <select name="value" class="form-control selectButton top-right" id="selectBox1">
            <option value="rating">Sort by Rating</option>
            <option value="price">Sort by Price</option>
            <option value="name">
            <a asp-action="TopTenBooks" asp-controller="Book" asp-route-value="2">Sort by Name</a></option>
        </select>
        <input type="submit"></input>
    </form>
</div>

<div class="container-fluid">
<div class="row mainContent">
@foreach(var book in Model) {
    <div class="col-sm-4 centered">
        <a asp-controller="book" asp-action="details" asp-route-Id=@book.id><img class="Thumb-nail-image" src="@book.image" alt="cover"></a> <br>
        <a asp-controller="book" asp-action="details" asp-route-Id=@book.id class="card-text">@book.title</a>  <br>
         @book.author <br>
         @book.rating ★<br>
         @book.cost $
    </div>
}
</div>
</div>