@model List<BookCave.Models.ViewModels.BookListViewModel>
<h1>Top books</h1>
<div class="">
        <select name="value" class="form-control top-right" id="sort-by" >
            <option value="rating">Sort by Rating</option>
            <option value="price">Sort by Price</option>
            <option value="name">Sort by Name</option>
        </select>
</div>
<div class="container-fluid">
    <div id="book-list" class="row ">
        @foreach (var book in Model)
        {
            <div id="settings" class="col-lg-3 col-sm-6 col-md-4">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <img class="Thumb-nail-image" src="@book.image" alt="book-cover" />
                    </div>
                </div>
                <div class="row">
                    <div id="book-info" class="col-lg-12 col-sm-12">
                        <a asp-controller="book" asp-action="details" asp-route-Id="@book.id" class="card-text">@book.title</a>
                        <div class="divider"></div>
                        <a asp-action="details" asp-controller="author" asp-route-id="@book.author.Id">@book.author.authorName</a>
                        <p>Rating: @book.rating</p>
                        <p>Price: @book.cost $</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 img-thumbnail-btn">
                        <a class="btn btn-success center-block" href="#">Add to cart</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-sm-4 spacing">

                    </div>
                </div>
            </div>
        }
        <br />
    </div>
</div>